#sprite{width: 200px;
    height: 200px;
    background: url("animation.jpg") no-repeat 0;
    animation: play 7s steps(8) infinite; margin:100px auto;
}


 @keyframes play {
 	from { background-position: 0px; }
     to { background-position: -1600px; }
}