
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

body{background-color:#e6bc51;background-image:url(bowie_bg.svg), url(../img/bg_bowie.png);background-size:1100px, 68px 80px; background-repeat: no-repeat, repeat; background-position: top right; font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif, Palatino, serif}
a{    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff; font-weight:bold}
a:hover{border:none}
header{padding: 20px 30px 0 30px;
    line-height: 100px;}
h1, h2, h3{margin:0;font-family: 'Lobster', cursive;}
h1{font-size:120px;text-shadow: 2px 2px 2px #000;color:#FFF}
h2{font-size:40px;color:#0b100a;padding: 0 0 0 10px;line-height:70px}
#zen-summary{padding:50px;color:#fff;width: 150px;border-radius: 100%;background-color: #e50000;height: 150px;position: fixed;top: 0;right: 0;margin: 20px;}
#zen-summary p{margin:0}
#zen-preamble{padding: 20px 40px;
    width: 475px;
    background-color: #be9ca9;
    margin: 20px;}
#zen-explanation{padding: 20px 40px;
    width:475px;
    background-color: #f9a583;
    margin: 20px;}
#zen-participation{padding: 20px 40px;
    width:475px;
    background-color: #e50000;
    margin: 20px;
    background-color: #fff;}
.preamble h2{font-family:"tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;}